html
  head
    title= Transform

    script(src="https://code.jquery.com/jquery-3.1.1.min.js",integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css", type="text/css", rel="stylesheet")

    body
        <div class="ui container">

            <img src="logo.png" class="ui medium rounded image"/>
            h1= message



            <form class="ui form" method="POST" action="transform">
            //- <div class="field">
            //- <label>Mapping Content</label>
            //- <textarea></textarea>
            //- </div>
            //- <h3>OR</h3>

            <label for="dataset_type_id">Select your Data Source type </label>
            <select class="ui dropdown" id='dataset_type_id' name='dataset_type' type='text'>
            <option value="mongodb">Mongo DB</option>
            <option value="sqlite">SQLite</option>
            <option value="csv">CSV file(s)</option>
            </select>            
            <div class="field">
            <label>Database Name</label>
            <input type="text" name="db_name" placeholder="test_db"/>
            </div>
            <div class="field">
            <label>Mapping URL</label>
            <input type="url" name="mapping_url" placeholder="http://...">
            </div>
            <label for="mapping_language_id">Select your mapping language </label>
            <select class="ui dropdown" id='mapping_language_id' name='mapping_language' type='text'>
            <option value="rml">RML</option>
            </select>
            <br>            
            <label for="prog_lang_id">Select the target programing language </label>
            <select class="ui dropdown" id='prog_lang_id' name='prog_lang' type='text'>
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
            </select>
            <br>
            <label for="queryplanner_id">Select Query Planner (optional)</label>
            <select class="ui dropdown" id='queryplanner_id' name='queryplanner' type='text'>
            <option value="none">None/Naive</option>
            <option value="joinmonster">Join Monster (For JavaScript)</option>
            </select>
            <br>            
            <div class="field">
            <label>Port to be used as Graphiql endpoint</label>
            <input type="text" name="port_no" value="4321"/>
            </div>

            <br>

            <button class="ui button" type="submit">Submit</button>
            </form>
        </div>
