html
  head
    title= Transform

    script(src="https://code.jquery.com/jquery-3.1.1.min.js",integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js")

    link(href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css", type="text/css", rel="stylesheet")

    body
        <div class="ui container">

            <img src="logo.png" class="ui medium rounded image"/>
            h1= message



            <form class="ui form" method="POST" enctype="multipart/form-data">
            <div class="field">
            <label>Mapping Content</label>
            <textarea></textarea>
            </div>
            <h3>OR</h3>
            <div class="field">
            <label>Mapping URL</label>
            <input type="text" name="mapping_url" placeholder="http://...">
            </div>


            <label for="prog_lang_id">Select the target programing language </label>
            <select class="ui dropdown" id='prog_lang_id' name='prog_lang' type='text'>
            <option value="python">Python</option>
            </select>
            <br>
            <label for="dataset_type_id">Select your dataset type </label>
            <select class="ui dropdown" id='dataset_type_id' name='dataset_type' type='text'>
            <option value="mongodb">Mongo DB</option>
            </select>
            <br>
            <button class="ui button" type="submit">Submit</button>
            </form>
        </div>
